.root {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background-image: linear-gradient(#d9e4eb, #f7f7f7);
  align-items: center;
  /* background: url("./code.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: rgba(0, 0, 0) opacity(0.5);
  /* filter: brightness(0.5); */
}

.landing-logo {
  height: 300px;
  width: 300px;
}

.container h1 {
  margin-top: 2.5%;
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  font-weight: 300;
  font-style: bolder;
  color: black;
  font-style: bolder;
}

.container h1 .things-possible {
  color: #0f64bd;
}

.svg-things-possible {
  width: 100%;
  height: auto;
  stroke-width: 1px;
  transition: 3s;
  animation: fill 0.5s ease forwards 5s;
  /* flex-wrap: wrap; */
  /* padding-left: 15px; */
}

.svg-things-possible path:nth-child(1) {
  stroke-dasharray: 387.19px;
  stroke-dashoffset: 387.19;
  animation: line-anim 2s ease forwards;
}
.svg-things-possible path:nth-child(2) {
  stroke-dasharray: 532px;
  stroke-dashoffset: 532;
  animation: line-anim 2s ease forwards 0.3s;
}
.svg-things-possible path:nth-child(3) {
  stroke-dasharray: 307px;
  stroke-dashoffset: 307;
  animation: line-anim 2s ease forwards 0.6s;
}
.svg-things-possible path:nth-child(4) {
  stroke-dasharray: 472px;
  stroke-dashoffset: 472;
  animation: line-anim 2s ease forwards 0.9s;
}
.svg-things-possible path:nth-child(5) {
  stroke-dasharray: 716px;
  stroke-dashoffset: 716;
  animation: line-anim 2s ease forwards 1.2s;
}
.svg-things-possible path:nth-child(6) {
  stroke-dasharray: 463px;
  stroke-dashoffset: 463;
  animation: line-anim 2s ease forwards 1.5s;
}
.svg-things-possible path:nth-child(7) {
  stroke-dasharray: 480px;
  stroke-dashoffset: 480;
  animation: line-anim 2s ease forwards 1.8s;
}
.svg-things-possible path:nth-child(8) {
  stroke-dasharray: 446px;
  stroke-dashoffset: 446;
  animation: line-anim 2s ease forwards 2.1s;
}
.svg-things-possible path:nth-child(9) {
  stroke-dasharray: 463px;
  stroke-dashoffset: 463;
  animation: line-anim 2s ease forwards 2.4s;
}
.svg-things-possible path:nth-child(10) {
  stroke-dasharray: 463px;
  stroke-dashoffset: 463;
  animation: line-anim 2s ease forwards 2.7s;
}
.svg-things-possible path:nth-child(11) {
  stroke-dasharray: 307px;
  stroke-dashoffset: 307;
  animation: line-anim 2s ease forwards 3s;
}
.svg-things-possible path:nth-child(12) {
  stroke-dasharray: 579px;
  stroke-dashoffset: 579;
  animation: line-anim 2s ease forwards 3.3s;
}
.svg-things-possible path:nth-child(13) {
  stroke-dasharray: 281px;
  stroke-dashoffset: 281;
  animation: line-anim 2s ease forwards 3.6s;
}
.svg-things-possible path:nth-child(14) {
  stroke-dasharray: 525px;
  stroke-dashoffset: 525;
  animation: line-anim 2s ease forwards 3.9s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #0f64bd;
  }
}

@media screen and (max-width: 640px) {
  .container h1 {
    font-size: 3.5rem;
  }
}
